/*
NAME: Jet Responsive parknav-section
AUTHOR PAGE: http://codecanyon.net/user/marcoarib
ITEM PAGE: http://codecanyon.net/item/jet-responsive-parknav-section/5719593
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$parkblue: #2D4D9C;
$gutter-normal: 10px;
$gutter-small: 5px;

/* MENU CONFIGURATION
**********************************************************/

.parknav-wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.parknav {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  list-style: none;
  background: $parkblue;
}
.parknav li{
  display: inline-block;
  float: left;
}
.parknav a{
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  outline: none;
  z-index: 10;
}
.parknav > li > a{
  padding: 10px 13px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.parknav > li:hover > a,
.parknav > li.active > a{
  background: #F2F2F2;
  color: $parkblue;
}


/* DROPDOWN CONFIGURATION
**********************************************************/
.parknav ul.dropdown,
.parknav ul.dropdown li ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 134px;
  background: #333333;
}
.parknav ul.dropdown{
    top: 60px;
}
.parknav ul.dropdown li ul.dropdown{
  left: 100%;
  top: inherit;
}
.parknav ul.dropdown li{
  clear:both;
  width:100%;
  font-size: 12px;
}
.parknav ul.dropdown li a{
  width:100%;
  padding: 12px 24px 12px;
  display:inline-block;
  float:left;
  clear:both;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #999;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.parknav ul.dropdown li:hover > a{
  background: #e0e0e0;
  color: #555;
}

/* dropdowns to left side */
.parknav ul.dropdown li ul.dropdown.left{
  left: auto;
  right: 100%;
}

/* SUBMENU INDICATORS
**********************************************************/
.parknav .indicator{
  position: relative;
  left: 5px;
  top: 0;
  font-size: 14px;
  float: right;
}
.parknav ul li .indicator{
  font-size: 12px;
  top: 1px;
  left: 10px;
}

/* parknav-section
**********************************************************/
.parknav li .parknav-section{
  position: absolute;
  display: none;
  background: #FFF;
  width: 25%;
  top: 34px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #444;
  z-index: 99;
  // padding: 20px 20px 20px;
  // border-left: 1px solid #E4E4E4;
  // border-right: 1px solid #E4E4E4;
  // border-top: 3px solid #444;
  // border-bottom: 2px solid #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* parknav-section list */
.parknav .parknav-section ul{
  margin: 0 0 20px 0;
  float: left;
  padding: 0;
  display: block;
  position: relative;
}
.parknav .parknav-section ul li{
  width: 100%;
  padding: 4px 0;
}
.parknav .parknav-section ul li.title{
  padding: 0 0 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px $parkblue;
  margin-top: 10px;
}

.parknav .parknav-section ul li.title.heading-only {
  border-bottom: none;
}

.parknav .parknav-section ul li.title:first-of-type {
  margin-top: 0px;
}

.parknav .parknav-section ul li.title a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.parknav .parknav-section ul li.title a:hover{
  color: #999;
}

/* parknav-section h5 */
.parknav .parknav-section h5{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  color: $parkblue;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.parknav .parknav-section h5:hover{
  opacity: 0.8;
  text-decoration: none !important;
}


/* parknav-section links */


.parknav li > .parknav-section a{
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: color 0.2s linear;
  -webkit-transition: font-weight 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.parknav li > .parknav-section a:hover{
  color: $parkblue;
  font-weight: bold;
}

/* parknav-section images */
.parknav  .parknav-section img{
  width: 100%;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

/* to fix right attribute on submenus (menu aligned to left (default)) */
.parknav > li.fix-sub > .parknav-section,
.parknav > li.fix-sub > .parknav-section.half-width,
.parknav > li.fix-sub > .dropdown{
  right: 0;
}

/* parknav-section WIDTHS
**********************************************************/
.parknav > li > .parknav-section.half-width{
  width: 50%;
}
.parknav > li > .parknav-section.full-width{
  width: 100%;
  left: 0;
}

/* parknav-section FORM CONFIGURATION
**********************************************************/
.parknav li > .parknav-section form{
  width: 100%;
}

/* parknav-section inputs */
.parknav li > .parknav-section form input[type="text"],
.parknav li > .parknav-section form textarea{
  padding: 5px;
  color: #999;
  background: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.parknav li > .parknav-section form input[type="text"]:focus,
.parknav li > .parknav-section form textarea:focus{
  border-color: #e0e0e0;
}
.parknav li > .parknav-section form input[type="text"]{
  width: 100%;
  margin-top: 10px;
}
.parknav li > .parknav-section form textarea{
  width: 100%;
  margin-top: 10px;
}
.parknav li > .parknav-section form input[type="submit"]{
  width: 25%;
  float: right;
  height: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: #444;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.parknav li > .parknav-section form input[type="submit"]:hover{
  background: #e0e0e0;
  color: #555;
}

/* parknav-section GRID SYSTEM
**********************************************************/
.parknav-section .row{
  width: 100%;
  margin-top: 15px;
}
.parknav-section .row:first-child {
  margin-top: 0;
}
.parknav-section .row:before,
.parknav-section .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.parknav-section .row:after {
  clear: both;
}
.parknav-section .row .col1,
.parknav-section .row .col2,
.parknav-section .row .col3,
.parknav-section .row .col4,
.parknav-section .row .col5,
.parknav-section .row .col6{
  display: block;
  width: 100%;
  min-height: 20px;
  float: left;
  margin-left: 2.127659574468085%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.parknav-section .row [class*="col"]:first-child {
  margin-left: 0;
}
.parknav-section .row .col1{
  width: 16%;
}
.parknav-section .row .col2{
  width: 31.914893617021278%;
}
.parknav-section .row .col3{
  width: 48.93617021276595%;
}
.parknav-section .row .col4{
  width: 65.95744680851064%;
}
.parknav-section .row .col5{
  width: 82.97872340425532%;
}
.parknav-section .row .col6{
  width: 100%;
}

/* RIGHT ALIGNMENT (MENU ITEM)
**********************************************************/
.parknav > li.right{
  float: right;
}
.parknav > li.right > .parknav-section,
.parknav > li.right > .parknav-section.half-width,
.parknav > li.right > .dropdown{
  right: 0;
}

/* to fix right attribute on submenus (menu aligned to right) */
.parknav > li.jsright{
  float: right;
}
.parknav > li.jsright.last > .parknav-section,
.parknav > li.jsright.last > .parknav-section.half-width,
.parknav > li.jsright.last > .dropdown{
  right: 0;
}

/* ICONS (FONT AWESOME)
**********************************************************/
.parknav > li > a > i{
  line-height: 23px !important;
  margin-right: 6px;
  font-size: 18px;
  float: left;
}

/* COLLAPSIBLE MENU
**********************************************************/
.parknav .parknav-mobile-menu {
  display: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  background: $parkblue;
  font-weight: bold;
  font-size: 18px;
}

.parknav .parknav-mobile-menu .parknav-title {
  margin: 15px 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  float: left;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.parknav .parknav-burger {
  margin: 17px 17px 0 0;
  float: right;
}

.parknav .parknav-burger div {
  margin-bottom: 3px;
  display: block;
  width: 20px;
  height: 2px;
  background: #FFF;
}


/* RESPONSIVE LAYOUT
**********************************************************/
@media (max-width: 768px) {
  .parknav > li{
    display: block;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav > li > a{
    padding: 15px 25px;
  }
  .parknav a{
    width: 100%;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav li > .parknav-section ul li.title {
    border-bottom: 0;
  }
  .parknav ul.dropdown,
  .parknav ul.dropdown li ul.dropdown{
    width: 100% !important;
    left: 0;
    position: static !important;
    border: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav ul.dropdown li {
    background: #fff !important;
    border: none;
  }
  .parknav ul.dropdown > li > a{
    padding-left: 40px !important;
  }
  .parknav > li > .parknav-section{
    width: 100% !important;
    position: static;
    border-top: none;
  }
  .parknav > li > .parknav-section .row [class*="col"]{
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    > ul {
      overflow: hidden;
    }
  }
  .parknav > li > .parknav-section .row:first-child  [class*="col"]:first-child {
    margin-top: 0;
    @media screen and (max-width: 768px) {
      margin-top: 5px;
    }
  }
  .parknav > li > .parknav-section .row{
    margin-top: 0;
  }
  .parknav > li > ul.dropdown > li > a { padding-left: 40px !important; }
  .parknav > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 60px !important; }
  .parknav > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 80px !important; }
}
@media (min-width: 768px) and (max-width: 900px) {
  .parknav > li > .parknav-section{
    width: 100% !important;
    left: 0 !important;
  }
}




/* Extra Responsive Bits */

/* Extra Small */
@media screen and (min-width: 768px) {
  .parknav > li > a {
    font-size: 11px;
    padding: 10px 7px;
  }

  .parknav li > .parknav-section ul li.title a {
    font-size: 12px;
  }

  .parknav li > .parknav-section a {
    font-size: 11px;
  }
}

/* Small */
@media screen and (min-width: 841px)  {
  .parknav > li > a
  {
    font-size: 12px;
    padding: 10px 8px;
  }
}

/* Medium */
@media screen and (min-width: 965px) {
  .parknav > li > a {
    font-size: 12px;
    padding: 10px 12px;
  }
}

/* Large */
@media screen and (max-width: 1155px) {
  .parknav > li > .parknav-section.full-width {
    top: 33px;
  }
}
@media screen and (max-width: 840px) {
  .parknav > li > .parknav-section.full-width {
    top: 34px;
  }
}

/*Full Screen*/
@media screen and (min-width: 1156px) {
  .parknav > li > a
  {
    padding: 10px 16px;
  }
}

@media screen and (min-width: 1065px) {
  .parknav > li > a {
    padding: 10px 12px;
  }
}



// .parknav {
//   > li {
//     > a {
//       @media screen and (min-width: 768px) {
//         font-size: 11px;
//         padding: 10px 7px;
//       }
//     }
//   }
// }


/* PARK SPECIFIC AMENDMENTS */

.parknav {
  a:not([href]) {
    cursor: pointer;
  }
  .menu-diff {
    color: $parkblue;
  }
  .used {
    background: #444;
  }
  li {
    line-height: normal;
    > .parknav-section {
      ul {
        li {
          padding: 0;
          a {
            display: block;
            padding: 4px 0;
          }
        }
      }
    }
  }
  .parknav-section {
    .row {
      margin-left: 0;
      .col1 {
        width: 17%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
  }
}

@media screen and (max-width:768px) {
  .parknav {
    li {
      a {
        padding-left: 10px;
      }
    }
  }
  .parkcameras-top-header {
    margin-top: 50px;
    .parkcameras-logo, .parkcameras-header-links, .parkcameras-sli-search {
      margin-top: 10px;
      @media screen and (max-width: 529px) {
        margin-top: 5px;
      }
    }
  }
}

.AP .straplineLink, .parkcameras-shop-by-brand-dropdown {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}


.parknav {
  .parknav-section {
    .parknav-subheading-with-image {
      + img {
        margin-top: 10px;
      }
    }
    @media screen and (max-width: 768px) {
      ul {
        margin-left: 10px;
        margin-right: 10px;
        float: none;
      }
    }
    @media screen and (min-width: 768px) {
      &:before, &:after {
        content: " ";
        display: block;
        height: 3px;
        width: 100%;
        background-color: #444;
      }
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: none;
      padding: 0;
      .row {
        padding: 20px;
      }
    }
  }
}


.parkcameras-logo {
  background: url(https://content.parkcameras.com/5/1/images/pc_logo.png) center left no-repeat;
  background-size: 170px auto;
  width: 170px;
  height: 40px;
  float: left;
  overflow: hidden;
  a {
    overflow: hidden;
    display: block;
    height: 100%;
  }
  span {
    margin-left: -99999999px;
  }
  @media screen and (min-width: 370px) {
    background-size: 200px auto;
    width: 200px;
  }
  @media screen and (min-width: 529px) {
    height: 45px;
    background-size: 250px auto;
    width: 250px;
  }
  @media screen and (min-width: 768px) {
    height: 63px;
    background-size: 338px auto;
    width: 338px;
  }
}

.parkcameras-header-links {
  float: right;
  .parkcameras-header-link {
    list-style: none;
    color: #444;
    background: #eee;
    margin-left: 10px;
    float: left;
    height: 40px;
    line-height: 40px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-left: 30px;
    }
    &:hover {
      background: darken(#eee, 10%);
    }
    > li {
      line-height: 40px;
    }
    + .parkcameras-header-basket-container {
      background-color: transparent;
      li {
        line-height: initial;
      }
      margin-left: 10px;
      @media screen and (min-width: 400px) {
        margin-left: initial; // 30px
      }
    }
    a {
      text-decoration: none;
      padding: 10px;
    }
    .floatl, .floatr {
      float: none;
    }
    .desk {
      display: none !important;
    }
    .miniBasket {
      z-index: 99999;
      height: 40px;
      float: initial;
      top: initial;
      .mini_basket_utilities {
        overflow: hidden;
        margin-bottom: 0;
        > div {
          width: 45% !important;
          float: left !important;
          &:last-child {
            margin-left: 15px;
          }
        }
        + .promoText {
          margin-top: 10px;
        }
      }
      .notification {
        width: 36px;
        padding: 0;
        background-color: $parkblue;
        &:hover {
          background-color: darken($parkblue, 10%);
        }
        .icon-basket {
          margin: 0;
          display: block;
          height: 40px;
          line-height: 32px;
          text-align: center;
          padding: 5px !important;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .parkcameras-header-link {
      float: left;
      &.parkcameras-header-basket-container {
        clear: left;
      }
    }
  }
}

.parkcameras-sli-search {
  float: left !important;
  @media screen and (max-width: 529px) {
    input.sli_searchbox_textfield:focus {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    position: initial;
    width: 100% !important;
    input.sli_searchbox_textfield {
      width: 100% !important;
      float: left;
      &:focus {
        background-color: #eee;
      }
    }
    .icon-search {
      position: relative;
      top: -42px;
      left: 0px;
      height: 40px;
      line-height: 32px;
      float: right;
    }
  }

  input.sli_searchbox_textfield {
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    margin-bottom: 0;
    border: none;
    &:focus {
      width: 100% !important;
      border: none;
      + .sli-searchbox-textfield-underline {
        background-position: left bottom;
        background-color: $parkblue;
      }
    }
  }


  .sli-searchbox-textfield-underline {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, $parkblue 34%, #ddd 65%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 200ms linear;
    // background-color: #ddd;
    clear: left;
    // &.sli-searchbox-textfield-underline-infocus {
    //   background-position: left bottom;
    //   background-color: $parkblue;
    // }
  }
}

#sli_autocomplete {
  width: calc(100% - 20px) !important;
  @media screen and (max-width: 529px) {
    margin-left: 0;
  }
}


// Get rid of weird styles

@media screen and (max-width: 529px) {
  html {
    overflow: initial;
    min-width: initial;
    &:before, &:after {
      content: " ";
      display: table /* 2 */;
    }
    &:after {
      clear: both;
    }
  }
  #mainBody {
    margin-top: 0;
  }
}

// Hide old header


@media screen and (max-width: 768px) {
  .megamenuContainer {
    display: none !important;
    + .strapline {
      display: none !important;
    }
  }

  .topNav {
    display: none !important;
  }

  .strapline {
    display: none;
  }
}



// No thank you, cookie notice.

#cccwr {
  display: none;
}

.awards_list ul li {
  margin-top: 10px;
}

.parkcameras-top-header {
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    max-width: 960px;
    > .strapline {
      width: 100%;
      margin: 0 !important;
    }
  }
  @media screen and (min-width: 1129px) {
    max-width: 1140px;
  }
  + div {
    @media screen and (max-width: 768px) {
      position: relative;
      top: -30px;
    }
    @media screen and (max-width: 529px) {
      top: -35px;
    }
  }
}

.container.parkcameras-homepage-container {
  @media screen and (max-width: 768px) {
    #SDBanner {
      margin-top: 0 !important;
    }
    width: 100%;
    max-width: 100%;
    > * {
      max-width: 100%;
      width: calc(100% - 20px);
      margin-left: auto;
      margin-right: auto;
    }
    > .parkcameras-carousel-container {
      max-width: 100%;
      width: 100%;
    }
  }
  @media screen and (min-width: 950px) {
    width: 960px;
  }
  @media screen and (min-width: 1129px) {
    width: 1140px;
  }
}

/* 17:10 */
