/*
NAME: Jet Responsive parknav-section
AUTHOR PAGE: http://codecanyon.net/user/marcoarib
ITEM PAGE: http://codecanyon.net/item/jet-responsive-parknav-section/5719593
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$parkblue: #2D4D9C;
$gutter-normal: 10px;
$gutter-small: 5px;

/* MENU CONFIGURATION
**********************************************************/

.parknav-wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.parknav {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  list-style: none;
  z-index: 30;
  @media screen and (min-width: 768px) {
    background-color: $parkblue;
  }
}
.parknav li {
  display: inline-block;
  float: left;
}
.parknav a {
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  outline: none;
  z-index: 10;
}
.parknav > li > a {
  padding: 20px 13px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.parknav > li:hover > a,
.parknav > li.active > a{
  background: #F2F2F2;
  color: $parkblue;
}


/* DROPDOWN CONFIGURATION
**********************************************************/
.parknav ul.dropdown,
.parknav ul.dropdown li ul.dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 134px;
  background: #333333;
}
.parknav ul.dropdown{
    top: 60px;
}
.parknav ul.dropdown li ul.dropdown{
  left: 100%;
  top: inherit;
}
.parknav ul.dropdown li{
  clear:both;
  width:100%;
  font-size: 12px;
}
.parknav ul.dropdown li a{
  width:100%;
  padding: 12px 24px 12px;
  display:inline-block;
  float:left;
  clear:both;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #999;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.parknav ul.dropdown li:hover > a{
  background: #e0e0e0;
  color: #555;
}

/* dropdowns to left side */
.parknav ul.dropdown li ul.dropdown.left{
    left: auto;
  right: 100%;
}

/* SUBMENU INDICATORS
**********************************************************/
.parknav .indicator{
  position: relative;
  left: 5px;
  top: 0;
  font-size: 14px;
  float: right;
}
.parknav ul li .indicator{
  font-size: 12px;
  top: 1px;
  left: 10px;
}

/* parknav-section
**********************************************************/
.parknav li .parknav-section{
  position: absolute;
  display: none;
  background: #FFF;
  width: 25%;
  top: 38px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #444;
  z-index: 10;
  // padding: 20px 20px 20px;
  // border-left: 1px solid #E4E4E4;
  // border-right: 1px solid #E4E4E4;
  // border-top: 3px solid #444;
  // border-bottom: 2px solid #444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* parknav-section list */
.parknav .parknav-section ul{
  margin: 0 0 20px 0;
  float: left;
  padding: 0;
  display: block;
  position: relative;
}
.parknav .parknav-section ul li{
  width: 100%;
  padding: 4px 0;
}
.parknav .parknav-section ul li.title{
  padding: 0 0 5px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px $parkblue;
  margin-top: 10px;
}

.parknav .parknav-section ul li.title.heading-only {
  border-bottom: none;
}

.parknav .parknav-section ul li.title:first-of-type {
  margin-top: 0px;
}

.parknav .parknav-section ul li.title a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.parknav .parknav-section ul li.title a:hover{
  color: #999;
}

/* parknav-section h5 */
.parknav .parknav-section h5{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  color: $parkblue;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.parknav .parknav-section h5:hover{
  opacity: 0.8;
  text-decoration: none !important;
}


/* parknav-section links */


.parknav li > .parknav-section a{
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: color 0.2s linear;
  -webkit-transition: font-weight 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.parknav li > .parknav-section li a:hover{
  background-color: #eee;
}

.parknav li > .parknav-section li.title a:hover,
.parknav li > .parknav-section li.parknav-item-with-image a:hover {
  background-color: #fff;
}

/* parknav-section images */
.parknav  .parknav-section img{
  width: 100%;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

/* to fix right attribute on submenus (menu aligned to left (default)) */
.parknav > li.fix-sub > .parknav-section,
.parknav > li.fix-sub > .parknav-section.half-width,
.parknav > li.fix-sub > .dropdown{
  right: 0;
}

/* parknav-section WIDTHS
**********************************************************/
.parknav > li > .parknav-section.half-width{
  width: 50%;
}
.parknav > li > .parknav-section.full-width{
  width: 100%;
  left: 0;
  @media screen and (min-width: 768px) {
    background: #444;
  }
}

/* parknav-section FORM CONFIGURATION
**********************************************************/
.parknav li > .parknav-section form{
  width: 100%;
}

/* parknav-section inputs */
.parknav li > .parknav-section form input[type="text"],
.parknav li > .parknav-section form textarea{
  padding: 5px;
  color: #999;
  background: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 0.3s linear;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.parknav li > .parknav-section form input[type="text"]:focus,
.parknav li > .parknav-section form textarea:focus{
  border-color: #e0e0e0;
}
.parknav li > .parknav-section form input[type="text"]{
  width: 100%;
  margin-top: 10px;
}
.parknav li > .parknav-section form textarea{
  width: 100%;
  margin-top: 10px;
}
.parknav li > .parknav-section form input[type="submit"]{
  width: 25%;
  float: right;
  height: 30px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  background: #444;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.parknav li > .parknav-section form input[type="submit"]:hover{
  background: #e0e0e0;
  color: #555;
}

/* parknav-section GRID SYSTEM
**********************************************************/
.parknav-section .row{
  width: 100%;
  margin-top: 15px;
}
.parknav-section .row:first-child {
  margin-top: 0;
}
.parknav-section .row:before,
.parknav-section .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.parknav-section .row:after {
  clear: both;
}
.parknav-section .row .col1,
.parknav-section .row .col2,
.parknav-section .row .col3,
.parknav-section .row .col4,
.parknav-section .row .col5,
.parknav-section .row .col6{
  display: block;
  width: 100%;
  min-height: 20px;
  float: left;
  margin-left: 2.127659574468085%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.parknav-section .row [class*="col"]:first-child {
  margin-left: 0;
}
.parknav-section .row .col1{
  width: 16%;
}
.parknav-section .row .col2{
  width: 31.914893617021278%;
}
.parknav-section .row .col3{
  width: 48.93617021276595%;
}
.parknav-section .row .col4{
  width: 65.95744680851064%;
}
.parknav-section .row .col5{
  width: 82.97872340425532%;
}
.parknav-section .row .col6{
  width: 100%;
}

/* RIGHT ALIGNMENT (MENU ITEM)
**********************************************************/
.parknav > li.right{
  float: right;
}
.parknav > li.right > .parknav-section,
.parknav > li.right > .parknav-section.half-width,
.parknav > li.right > .dropdown{
  right: 0;
}

/* to fix right attribute on submenus (menu aligned to right) */
.parknav > li.jsright{
  float: right;
}
.parknav > li.jsright.last > .parknav-section,
.parknav > li.jsright.last > .parknav-section.half-width,
.parknav > li.jsright.last > .dropdown{
  right: 0;
}

/* ICONS (FONT AWESOME)
**********************************************************/
.parknav > li > a > i{
  line-height: 23px !important;
  margin-right: 6px;
  font-size: 18px;
  float: left;
}

/* COLLAPSIBLE MENU
**********************************************************/
.parknav .parknav-mobile-menu {
  display: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #FFF;
  background: $parkblue;
  font-weight: bold;
  font-size: 18px;
}

.parknav .parknav-mobile-menu .parknav-title {
  margin: 15px 0 0 10px;
  font-family: 'Open Sans', sans-serif;
  float: left;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.parknav .parknav-burger {
  margin: 17px 17px 0 0;
  float: right;
}

.parknav .parknav-burger div {
  margin-bottom: 3px;
  display: block;
  width: 20px;
  height: 2px;
  background: #FFF;
}


/* RESPONSIVE LAYOUT
**********************************************************/
@media (max-width: 768px) {
  .parknav > li{
    display: block;
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav > li > a{
    padding: 15px 25px;
  }
  .parknav a{
    width: 100%;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav li > .parknav-section ul li.title {
    border-bottom: 0;
  }
  .parknav ul.dropdown,
  .parknav ul.dropdown li ul.dropdown{
    width: 100% !important;
    left: 0;
    position: static !important;
    border: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .parknav ul.dropdown li {
    background: #fff !important;
    border: none;
  }
  .parknav ul.dropdown > li > a{
    padding-left: 40px !important;
  }
  .parknav > li > .parknav-section{
    width: 100% !important;
    position: static;
    border-top: none;
  }
  .parknav > li > .parknav-section .row [class*="col"]{
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    > ul {
      overflow: hidden;
    }
  }
  .parknav > li > .parknav-section .row:first-child  [class*="col"]:first-child {
    // margin-top: 0;
    margin-top: 5px;
  }
  .parknav > li > .parknav-section .row{
    margin-top: 0;
  }
  .parknav > li > ul.dropdown > li > a { padding-left: 40px !important; }
  .parknav > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 60px !important; }
  .parknav > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a{ padding-left: 80px !important; }
}
@media (min-width: 768px) and (max-width: 900px) {
  .parknav > li > .parknav-section{
    width: 100% !important;
    left: 0 !important;
  }
}




/* Extra Responsive Bits */

/*Full Screen*/

// @media only screen and (min-width: 1156px) {

//   .parknav > li > a
//   {
//   padding: 10px 16px;
//   }
// }
.parknav > li > a
{
padding: 10px 16px;
}


/* Large */
@media screen and (max-width: 1155px) {
  .parknav > li > .parknav-section.full-width {
    top: 35px;
  }
}
@media screen and (max-width: 840px) {
  .parknav > li > .parknav-section.full-width {
    top: 34px;
  }
}




// @media only screen and (min-width: 1065px) and (max-width:1155px) {
//   .parknav > li > a {
//     padding: 20px 11px;
//   }
// }

/* Medium */
@media only screen and (min-width: 965px) and (max-width:1064px) {
  .parknav > li > a {
    font-size: 12px;
    // padding: 20px 12px;
  }
}


/* Small */
@media only screen and (min-width: 841px) and (max-width: 964px) {
  .parknav > li > a
  {
    font-size: 12px;
    // padding: 20px 8px;
  }
}

/* Extra Small */
@media only screen and (min-width: 768px) and (max-width: 840px) {
  .parknav > li > a {
    font-size: 11px;
    // padding: 20px 7px;
  }

  .parknav li > .parknav-section ul li.title a {
    font-size: 12px;
  }

  .parknav li > .parknav-section a {
    font-size: 11px;
  }
}



/* PARK SPECIFIC AMENDMENTS */

.parknav {
  margin-top: 10px;
  a:not([href]) {
    cursor: pointer;
  }
  .menu-diff {
    color: $parkblue;
  }
  .used {
    background: #444;
  }
  li {
    line-height: normal;
    > .parknav-section {
      ul {
        li {
          padding: 0;
          a {
            display: block;
            padding: 4px 0;
          }
        }
      }
    }
  }
  .parknav-section {
    .row {
      margin-left: 0;
      .col1 {
        width: 17%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.parkcameras-top-header {
  display: relative;
  margin-top: 0px;
  .parkcameras-shop-by-brand-dropdown {
    display: block;
    margin-top: 10px;
    height: 42px;
    border-radius: 0;
    &:hover {
      box-shadow: none;
      background-color: darken(#ff7f33, 10%);
    }
    .icon-arrow-down:before {
      float: none;
      top: 6px;
      position: relative;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .strapline {
    width: 100%;
    margin: 0 !important;
    max-width: 100%;
    border: 0;
    padding: 0;
    background: #eee;
    ul {
      display: flex;
      li {
        display: block;
        flex: auto;
        border: none;
        margin: 0;
        padding: 0;
        height: initial;
        &:hover {
          background: darken(#eee, 10%);
        }
        a {
          padding: 9px 0;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .parknav {
    margin-top: 0;
    li {
      a {
        padding-left: 10px;
      }
    }
  }
  .parkcameras-top-header {
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
    .parkcameras-logo, .parkcameras-header-links, .parkcameras-sli-search {
      display: initial;
      margin-top: 10px;
      top: 5px;
      @media screen and (max-width: 529px) {
        margin-top: 5px;
      }
    }
  }
  .AP .straplineLink {
    display: none;
  }
}

.parknav {
  .parknav-section {
    .parknav-subheading-with-image {
      + img {
        margin-top: 10px;
      }
    }
    @media screen and (max-width: 768px) {
      ul {
        margin-left: 10px;
        margin-right: 10px;
        float: none;
      }
    }
    @media screen and (min-width: 768px) {
      // &:before, &:after {
      //   content: " ";
      //   display: block;
      //   height: 3px;
      //   width: 100%;
      //   background-color: #444;
      // }
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: none;
      padding: 0;
      .row {
        padding: 20px;
        background: white;
        margin: 3px 1px;
        width: calc(100% - 2px);
      }
    }
  }
}


.parkcameras-logo {
  background: url(https://content.parkcameras.com/5/1/images/pc_logo.png) center left no-repeat;
  height: 60px;
  background-size: 300px auto;
  width: 305px;
  float: left;
  overflow: hidden;
  margin-top: 3px;
  a {
    overflow: hidden;
    display: block;
    height: 100%;
  }
  span {
    margin-left: -99999999px;
  }
  @media screen and (max-width: 768px) {
    height: 50px;
    margin-left: 10px;
    background-size: 275px auto;
  }
  @media screen and (max-width: 529px) {
    background-size: 200px auto;
    width: 200px;
    // background-size: 170px auto;
    // width: 170px;
  }
  @media screen and (max-width: 370px) {
    background-size: 170px auto;
    width: 170px;
  }
}

.parkcameras-header-links {

  &::before {
    content: "";
    width: 200px;
  }

  position: relative;
  float: right;

  @media screen and (min-width: 769px) {
    margin-top: 12px;
  }

  .parkcameras-header-link {
    &.parkcameras-header-stores {
      @media screen and (max-width: 829px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: block;
      }
      @media screen and (max-width: 475px) {
        display: none;
      }
    }

    &.parkcameras-header-telephone {
      @media screen and (max-width: 949px) and (min-width: 530px) {
        &#telNumber {
          display: initial;
        }
      }
      float: left !important;
      overflow: hidden;
      background-color: initial;
      &:hover {
        background-color: initial;
      }

      @media screen and (max-width: 949px) {
        // show full number
        background-color: #eee;
        &:hover {
          background: darken(#eee, 10%);
        }
      }

      @media screen and (max-width: 500px) {
      }

      .parkcameras-telephone-number {
        color: $parkblue;
      }
      line-height: 40px;
      a {
        padding: 0;
        text-decoration: none;

        @media screen and (min-width: 769px) {
          padding: 0 4px 2px 14px;
        }

        .parkcameras-telephone-number {
          font-family: Montserrat;
          font-size: 26px;
        }
        .icon-telephone {
          transform: rotateZ(200deg);
          margin: 0;
          padding: 0;
          &::before {
            // font-family: ultimateHB;
            // transform: rotateZ(200deg);
            // position: absolute;
            // left: -35px;
            // top: -5px;
            color: #ff7f33;
            font-size: 40px;
            content: "\e606"
          }
        }

        .parkcameras-telephone-call-us {
          display: none;
          font-size: 16px;
          font-family: Verdana, Geneva, sans-serif;
          color: #444;
          line-height: 1.4;
          @media screen and (max-width: 949px) {
            display: inline-block;
          }
        }
        @media screen and (max-width: 949px) {
          .parkcameras-telephone-number { display: none; }
        }


        @media screen and (max-width: 768px) {
          display: block;
          &::before {
            display: block;
          }
          .parkcameras-telephone-number, .parkcameras-telephone-call-us {
            display: none;
          }
        }
      }
    }
    &.parkcameras-header-logout {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }


  @media screen and (max-width: 768px) {
    float: right;
    margin-right: 10px;
    left: -55px;
    .parkcameras-header-link {
      color: #444;
      background: #eee;
      margin-left: 10px;
      float: left;
      height: 40px;

      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background: darken(#eee, 10%);
      }

      > li {
        // line-height: 40px;
      }
      .floatl, .floatr {
        float: none;
      }
      a {
        text-decoration: none;
        padding: 10px;
      }
      .desk {
        display: none !important;
      }
    }
  }
  .parkcameras-header-link {
    color: #444;
    background: #eee;
    margin-left: 10px;
    // float: left;
    display: inline-block;
    position: relative;
    // right: -270px;
    @media screen and (max-width: 768px) {
      right: 0;
      // float: none;
    }
    &:hover {
      background-color: darken(#eee, 10%);
    }
    .floatl, .floatr {
      float: none;
    }
    a {
      display: block;
      text-decoration: none;
      padding: 10px 15px;
      overflow: hidden;
      // @media screen and (max-width: 500px) {
      //   padding: 10px 0;
      // }
      [class^="icon-"], [class*=" icon-"] {
        float: right;
        margin-left: 10px;
        padding-top: 6px;
        @media screen and (max-width: 768px) {
          float: none;
          margin-left: 0;
        }
        // @media screen and (max-width: 500px) {
        //   padding: 10px;
        // }
      }
    }
  }
}

.parkcameras-sli-search-basket-wrapper {
  display: flex;
  clear: both;
  justify-content: space-between;
  position: relative;

  .parkcameras-sli-search, .parkcameras-shop-by-brand-dropdown, .parkcameras-header-basket-container {
    margin-top: 5px;

    @media screen and (max-width: 768px) {
      margin-top: 12px;
    }
  }
  .parkcameras-sli-search {
    @media screen and (max-width: 529px) {
      margin-top: 5px;
    }
  }
}

.parkcameras-header-basket-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  margin-top: 11px;
  margin-left: 15px;
  right: 0;

  z-index: 40;
  height: 40px;
  .items, .total {
    line-height: 40px;
  }
  .productname {
    color: #444444;
  }
  .product_list > li {
    list-style: none;
  }
  .mini_basket_utilities {
    overflow: hidden;
    margin-bottom: 0;
    > div {
      width: 45% !important;
      float: left !important;
      &:last-child {
        margin-left: 15px;
      }
    }
    + .promoText {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: -57px;
    right: 11px;
    .checkout-link, .total, .items { display: none; }
  }

  // @media screen and (max-width: 529px) {
  //   float: initial;
  //   top: initial;
  // }
  [class^="icon-"], [class*=" icon-"] {
    padding: 12px;
    padding-bottom: 0;
  }
  .notification {
    padding: 0;
    background-color: $parkblue;
    line-height: 44px;
    width: 225px;
    @media screen and (max-width: 768px) {
      width: 40px;
    }
    &:hover {
      background-color: darken($parkblue, 10%);
    }
    .icon-basket {
      margin: 0;
      height: 40px;
      line-height: 32px;
      text-align: center;
      padding: 5px !important;
    }
  }



  li {
    line-height: initial;
  }
  .floatl {
    float: left;
  }
  @media screen and (max-width: 400px) {
    margin-left: 10px;
  }
  // @media screen and (max-width: 768px) {
  //   float: right;
  //   position: initial;
  // }
}



.parkcameras-sli-search {
  position: relative;
  // width: 74% !important;
  width: calc(100% - 335px) !important;
  margin-top: 10px;

  z-index: 10 !important;
  // @media screen and (max-width: 1128px) {
  //   width: 69% !important;
  // }

  // @media screen and (max-width: 949px) {
  //   width: calc(100% - 300px) !important;
  // }

  // @media screen and (max-width: 529px) {
  //   input.sli_searchbox_textfield:focus {
  //     width: 100% !important;
  //   }
  // }

  @media screen and (max-width: 768px) {
    clear: none;
    display: block;
    position: initial;
    width: 100% !important;
    .sli_searchform {
      margin: 0 10px;
    }
    input.sli_searchbox_textfield {
      width: 100% !important;
      float: left;
    }
  }

  .icon-search {
    padding: 0 !important;
    top: 10px;
    right: 14px;
    width: 25px;

    @media screen and (max-width: 768px) {
      top: 20px;
      right: 20px;
    }
    @media screen and (max-width: 529px) {
      top: 14px;
    }
  }



  input.sli_searchbox_textfield {
    width: 100% !important;
    margin: 0;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    border: none;
    &:focus {
      width: 100% !important;
      border: none;
      background-color: #eee !important;
      + .sli-searchbox-textfield-underline {
        background-position: left bottom;
        background-color: $parkblue;
      }
    }
  }


  .sli-searchbox-textfield-underline {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, $parkblue 34%, #ddd 65%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: all 200ms linear;
    // background-color: #ddd;
    clear: left;
    // &.sli-searchbox-textfield-underline-infocus {
    //   background-position: left bottom;
    //   background-color: $parkblue;
    // }
  }
}




#sli_autocomplete {
  width: calc(1148px - 7px) !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;

  @media screen and (max-width: 949px) {
    width: calc(100% - 16px) !important;
    &::before {
      right: 445px;
    }
  }

  @media screen and (max-width: 768px) {
    width: calc(100% - 20px) !important;
    &::before {
      // margin-left: 105px
      right: 2px;
    }
    .sli_ac_section {
      // text-align: left
    }
    .sli_ac_products .sli_ac_section {
      // border-right: 0
    }
  }

}


@media only screen and (max-width:529px) {
  #sli_autocomplete {
    // margin-left: -40px;
    // width: 98% !important
  }
  &::before {
    // margin-left: 105px
  }
  #sli_autocomplete .sli_ac_section {
    // text-align: left
  }
  #sli_autocomplete .sli_ac_products .sli_ac_section {
    // border-right: 0
  }
}

@media only screen and (min-width:530px) and (max-width:949px) {
  #sli_autocomplete .sli_ac_section {
    text-align: left
  }
  #sli_autocomplete .sli_ac_products .sli_ac_section {
    border-right: 0
  }
}

@media only screen and (min-width:950px) and (max-width:1128px) {
  #sli_autocomplete {
    margin-top: 0px;
    width: 962px !important;
  }
  #sli_autocomplete::before {
    margin-left: 477px;
    margin-top: -11px
  }
}


#sli_autocomplete.dynamic .sli_ac_products, #sli_autocomplete.has-touch .sli_ac_products {
  @media (min-width: 768px) {
    width: 72%;
  }
}
#sli_autocomplete.dynamic .sli_ac_suggestions, #sli_autocomplete.has-touch .sli_ac_suggestions {
  @media (min-width: 768px) {
    width: 28%;
  }
}


// Get rid of weird styles

@media screen and (max-width: 529px) {
  html {
    overflow: initial;
    min-width: initial;
    &:before, &:after {
      content: " ";
      display: table /* 2 */;
    }
    &:after {
      clear: both;
    }
  }
  #mainBody {
    margin-top: 0;
  }
}

// Hide old header


@media screen and (max-width: 768px) {
  .megamenuContainer {
    display: none !important;
    + .strapline {
      display: none !important;
    }
  }

  .topNav {
    display: none !important;
  }

  .strapline {
    display: none;
  }
}


// No thank you, cookie notice.

#cccwr {
  display: none;
}

.awards_list ul li {
  margin-top: 10px;
}

// .parkcameras-top-header + div {
//   @media screen and (max-width: 768px) {
//     position: relative;
//     top: -30px;
//   }
//   @media screen and (max-width: 529px) {
//     top: -35px;
//   }
// }

.container.parkcameras-homepage-container {
  @media screen and (max-width: 768px) {
    #SDBanner {
      margin-top: 0 !important;
    }
    width: 100%;
    max-width: 100%;
    > * {
      max-width: 100%;
      width: calc(100% - 20px);
      margin-left: auto;
      margin-right: auto;
    }
    > .parkcameras-carousel-container {
      max-width: 100%;
      width: 100%;
    }
  }
  @media only screen and (min-width: 950px) {
    width: 960px;
  }
  @media only screen and (min-width: 1129px) {
    width: 1140px;
  }
}


// focus on menu, darken website

// #parknav-background-overlay {
//   background-color: #000000;
//   opacity: 0;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 20;
//   display: none;
//   transition: opacity 100ms;
//   &.parknav-background-overlay--active {
//     opacity: 0.7;
//   }
// }


// parknav media query



ul.parknav {
  > li {
    background-color: $parkblue;
  }
}

#dropdown-1 {
  position: absolute !important;
  top: 37px !important;
  right: 395px !important;
  width: 100px !important;
  left: unset !important;
  > ul.dropdown-menu {
    border-radius: 0;
  }
  &:before, &:after {
    content: none;
  }
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}


@media only screen and (min-width: 769px) {
  ul.parknav {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: center;
    > li {
      display: flex !important;
      flex-flow: column wrap;
      text-align: center;
      flex: 1;
      &.parknav-mobile-menu {
        display: none !important;
      }
      > a {
        padding: 10px;
        flex: 1;
        justify-content: center;
      }
    }
    .parknav-section {
      text-align: left;
    }
    > .parknav-section-name {
    }
  }
}


